.conf-logo {
  display: flex;
  align-items: center;
}

.text-and-icons {
  margin-right: calc(17px * var(--size));
}

.next-logo :global(svg) {
  transform: translateY(calc(4px * var(--size))) !important;
  margin-right: calc(25px * var(--size));
  height: calc(112.33px * var(--size));
}

.text-conf {
  font-weight: bold;
  font-size: calc(25px * var(--size));
  line-height: calc(25px * var(--size));
  margin-bottom: calc(8px * var(--size));
  text-transform: uppercase;
}

.header-icons {
  display: flex;
  justify-content: space-between;
}

.icon-background {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: calc(24px * var(--size));
  height: calc(24px * var(--size));
}

.icon-globe {
  background: linear-gradient(90deg, #ec6193 0%, #ec4b31 100%);
}

.icon-image {
  background: linear-gradient(90deg, #ffbc29 0%, #eadf58 100%);
}

.icon-activity {
  background: linear-gradient(90deg, #57c84f 0%, #53a0ec 100%);
}
