.hero {
  font-size: 100px;
  line-height: 1;
  letter-spacing: -0.08em;
  font-weight: 800;
  text-align: center;
  margin: 50px 0 40px;
  width: 800px;
}

.info {
  font-size: 24px;
  line-height: 1.4;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.description {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.4;
  text-align: center;
  width: 531px;
  margin: 40px auto;
  color: #8a8f98;
}

.info p {
  margin: 0;
}

.description-separator {
  height: 24px;
  width: 1px;
  background: var(--secondary-color);
  margin: 0 16px;
}

@media (min-width: 1200px) {
  .hide-on-desktop {
    display: none;
  }
}

@media (max-width: 1200px) {
  .hide-on-tablet {
    display: none;
  }
}
