.background {
  background: #1b1d1f;
  color: #fff;
  min-height: 100vh;
  display: flex;
}

.page {
  padding: 50px 20px;
  --secondary-color: #8a8f98;
  display: flex;
  flex-direction: column;
  max-width: 1360px;
  margin: 0 auto;
  flex: 1;
}

.main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondary-text {
  color: var(--secondary-color);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logos {
  max-width: 720px;
  display: flex;
  align-items: center;
}

.header-logos-secondary {
  display: none;
}

.header-right {
  display: none;
}

@media screen and (min-width: 1200px) {
  .header-logos-secondary {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .header {
    justify-content: space-between;
  }

  .header-right {
    align-items: items-center;
    display: flex;
  }
}

.header-separator {
  height: 56.17px;
  width: 1px;
  margin-right: 17px;
  background: var(--secondary-color);
}

.description {
  font-size: 16px;
  line-height: 1.4;
  color: var(--secondary-color);
}

.footer {
  margin: 100px auto 0;
  width: 100%;
  font-size: 14px;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  color: var(--secondary-color);
}

.footer-link {
  color: var(--secondary-color);
  transition: color 0.2s ease;
}

.footer-link:hover {
  color: #fff;
}

.footer-logo :global(svg) {
  height: 16px;
  transform: translateY(3px);
}

.footer-legal {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer-separator {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .footer-hostedby {
    display: none;
  }

  .footer-legal {
    flex-direction: row;
  }

  .footer-separator {
    margin: 0 10px;
    height: 24px;
    width: 1px;
    background: var(--secondary-color);
    display: block;
  }
}

.appear {
  opacity: 0;
  animation: appear 0.8s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

.appear--opacity-only {
  opacity: 0;
  animation: appear 0.8s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

.appear-first {
  animation-delay: 0.4s;
}

.appear-second {
  animation-delay: 0.8s;
}

.appear-third {
  animation-delay: 1.2s;
}

.appear-fourth {
  animation-delay: 1.6s;
}

.appear-fifth {
  animation-delay: 2s;
}

@keyframes appear {
  to {
    opacity: 1;
  }
}
