.hero {
  font-size: 64px;
  line-height: 1;
  letter-spacing: -0.08em;
  font-weight: 800;
  margin: 0 0 20px;
}

.ticket-text {
  margin-bottom: 30px;
}

.ticket-layout {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 90px;
  margin: 120px 0;
}

.centered {
  align-self: center;
}
