.hero {
  font-size: 64px;
  line-height: 1;
  letter-spacing: -0.08em;
  font-weight: 800;
  margin: 0 0 20px;
}

.description {
  font-size: 24px;
  line-height: 1.4;
  color: var(--secondary-color);
}

.ticket-text {
  margin-bottom: 30px;
}

.ticket-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.ticket-instructions {
  margin-right: 20px;
}

.ticket-visual {
  width: 770px;
  transform: translateY(30px);
}

.ticket-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Need to place above the visual so it’s clickable */
  position: relative;
  z-index: 2;
}
