.profile {
  display: flex;
}

.image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: calc(15px * var(--size));
}

@media (min-width: 768px) {
  .image {
    width: calc(80px * var(--size));
    height: calc(80px * var(--size));
  }
}

.text {
  flex: 1;
}

.name {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: -0.02em;
}

@media (min-width: 768px) {
  .name {
    font-size: calc(32px * var(--size));
  }
}

.username {
  font-size: calc(1em * var(--size));
  color: var(--secondary-color);
  display: flex;
  align-items: center;
}

.githubIcon {
  margin-right: calc(5px * var(--size));
  display: inline-flex;
}

.empty-icon {
  display: block;
  background: linear-gradient(135deg, #b4b6b8, #7f8183);
}
