.hero {
  font-size: 64px;
  line-height: 1;
  letter-spacing: -0.08em;
  font-weight: 800;
  margin: 0 0 20px;
}

.ticket-text {
  margin-bottom: 30px;
}

.ticket-layout {
  display: flex;
  align-items: center;
  margin: 120px 0;
}

.centered {
  align-self: center;
}

.ticket-instructions {
  margin-right: 20px;
}

.ticket-visual {
  width: 770px;
  transform: translateY(30px);
}
